<% provide(:title, 'Log In') %>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Log In</h2>

      <%= form_for(:session, url: login_path) do |f| %>

        <div class='form-group'>
          <%= f.label :email, 'Email' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>

        <div class='form-group'>

          <%= f.label :password, 'Password' %> <%= link_to '(forgot password?)', password_reset_path, class: 'btn btn-link' %>
          <%= f.password_field :password, class: 'form-control' %>

        </div>

        <div class='form-group'>
          <%= f.label :remember_me, 'Remember Me' %>
          <%= f.check_box :remember_me, class: 'form-control' %>
        </div>

        <%= f.submit "Log In", class: 'btn btn-secondary' %>

        <p style="font-weight: bold">New User? <%=link_to 'Sign Up Now', signup_path, class: 'btn btn-link' %></p>

      <% end %>
    </div>
  </div>
</div>
