<% provide(:title, 'Sign Up') %>

<div class="row">
  <div class="small-10 small-centered medium-4 medium-centered columns">
    <h2 id="sign_up">Sign Up</h2>
    <%= form_for(@user) do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name %>

      <%= f.label :emal %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, 'Password confirmation' %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit 'Create an account', class: 'expended button' %>


    <% end %>
  </div>
</div>
